*{
   margin:0;
   padding:0;
}
body{
    background-color: gray;
}

h1{
    background-color: #063970;
    color: beige;
    font-size: 4rem;
    align-content: center;
    justify-content: center;
    padding-left: 550px;
}

.container{
    height:80vmin;
    width:80vmin;
    border: 2px solid black;
    background-color: #2C2D2D;
    margin-top: 60px;
    margin-left: 500px;
    border-radius:10%;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
}
#Screen{
    height:15vmin;
    width:60vmin;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    background-color:green;
    color: beige;
    margin-left: 50px;
    border-radius: 5%8;
}

.grid-container{
    height:60vmin;
    width: 60vmin;
    margin-left:50px;
    border: 2px solid black;
    color:#ccc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Three columns of equal width */
    grid-gap: 10px;
}
/* 
.hide{
    display: none;
} */

.boxe{
    background-color: palevioletred;
}